a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_428514aa { position:absolute; left:0%; top:0%; width:9%; background:none; height:auto;  }
#html_b0df8f6 { position:absolute; left:42%; top:51%; width:21%; height:100px; background:none;  }
#text_2babed2f { position:absolute; left:38%; top:37%; width:492px; height:93px; background:none;  }
.textstyle2 { font-size:60pt; font-family:'The Billion Butterfly Personal'; color:#000000;  }
