a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_6df3d864 { position:absolute; left:0%; top:0%; width:9%; background:none; height:auto;  }
#html_15ec8179 { position:absolute; left:7%; top:32%; width:95%; height:539px; background:none;  }
